.modal-background {
  position: absolute;
  background-color: rgb(45, 4, 45);
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal-content {
  height: 65vh;
  width: 65vw;
  background-color: rgb(150, 80, 215);
  align-items: center;
  justify-content: center;
}

label {
  font-size: 30px;
  display: block;
  align-self: center;
  justify-self: center;

}